body {
  background: #ffe6eb;
  font-family: Arial, sans-serif;
  text-align: center;
  overflow-x: hidden;
}

.container {
  margin-top: 80px;
  position: relative;
}

h1 {
  color: #d6336c;
}

.buttons {
  margin-top: 30px;
}

button {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: absolute;
}

#yesBtn {
  background: #ff4d6d;
  color: white;
  left: 40%;
}

#noBtn {
  background: #adb5bd;
}

.hidden {
  display: none;
}

img {
  width: 280px;
  margin-top: 20px;
  border-radius: 15px;
}
